server:
  port: 8080
    
spring:
  datasource:
    url: jdbc:h2:~/fiapDroneDatabase;DB_CLOSE_ON_EXIT=FALSE
    username: fiap
    password: fiap
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
      
  h2:
    console:
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false
      enabled: true
      
      
amqp:
  url: http://localhost:8001/send